- @filter_groups.each do |filter|
  %h2=filter[:name]
  - filter[:items].each do |checkbox|
    .clearfix
      %label
        - if checkbox.updated_at
          %input(type="checkbox" checked="true" name="filters[#{filter[:group_id]}][]" value="#{checkbox.id}")
        -else
          %input(type="checkbox" name="filters[#{filter[:group_id]}][]" value="#{checkbox.id}")
        = checkbox.title
