.container
  .row
    .col-xs-12
      %h1= @category.name
    .col-xs-3
      = form_for @category, :method => :get, :html => {:class => 'filters-form', "data-remote" => "", "data-turboboost" => "true"} do |f|
        - if @price_points[0] != @price_points[1]
          .row.price-slider
            .col-xs-12
              %h2 Price:
          .row
            .col-xs-2
              .form-group
                from
            .col-xs-4
              .form-group
                %input.form-control.price-from{:name=>"price_from", :value=> @price_points[2]}
                %input.price-start{:type=>"hidden", :name => "price_start", :value => @price_points[0]}
            .col-xs-2
              .form-group
                to
            .col-xs-4
              .form-group
                %input.form-control.price-to{:name=>"price_to", :value=> @price_points[3]}
                %input.price-end{:type=>"hidden", :name => "price_end", :value => @price_points[1]}
          .row
            .col-xs-12
              .price-ui-slider
        .form-group
          = render "categories/filters/block"
        = f.submit 'Filter', :class => 'btn btn-info col-xs-12' 
    .col-xs-9
      .row
        = render partial: "product", collection: @products
      .clearfix
        =paginate @products
