!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %title Parkshop
    = csrf_meta_tags
  %body
    .wrapper(style="padding-top: 65px")
      = render "shared/header"
      .container  
        .col-xs-12
          Page Rendered in #{sprintf('%.3f', (Time.now.usec - @start_time).abs / 1000000.0)} seconds
        - if notice
          .alert.alert-success
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} &times;
            = notice
        - if alert
          .alert.alert-danger
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} &times;
            = alert
        = yield

    .modal.fade.modal-cart
      .modal-dialog
        .modal-content
          .modal-header
            %button.close(data-dismiss="modal" aria-label="Close")
              %span(aria-hidden="true")
                &times;
            %h4.modal-title=t("store.cart")
          .modal-body
            -get_cart_info.each do |item|
              .clearfix
                = link_to item.product do
                  =item.product.name
                  %b=number_to_currency(item.price)
                  (#{item.id})
                  &times;
                  =item.amount
            .clearfix.text-right
              %h4 
                =t("store.total")
                %b $40
          .modal-footer
            %button.btn.btn-default=t("store.clear_cart")
            = link_to new_order_path do
              %button.btn.btn-primary=t("store.make_order")

              
